-- Step 1: Place existing Paid payments into escrow
UPDATE "Payments" 
SET "IsInEscrow" = true, 
    "Status" = 7, -- InEscrow
    "EscrowInitiatedAt" = CURRENT_TIMESTAMP,
    "EscrowReleaseCondition" = 'ServiceCompleted'
WHERE "Status" = 1 -- Paid
  AND "IsInEscrow" = false;

-- Step 2: Mark escrowed payments as ready for release (since orders are closed)
UPDATE "Payments" 
SET "Status" = 8, -- EscrowReadyForRelease
    "EscrowReleaseCondition" = 'AdminApproval'
WHERE "Status" = 7 -- InEscrow
  AND "IsInEscrow" = true;
